services:
  scanner:
    image: derhenning/tgtg:latest-alpine ## pre build image from docker hub
    # image: tgtg-scanner:latest                   ## locally build image
    # build:                                       ## build image with compose
    #   context: .
    #   dockerfile: docker/Dockerfile.alpine
    environment:
      # Configuration via environment variables.
      # Basic example using Telegram notifications
      # For more options and details visit https://github.com/Der-Henning/tgtg/wiki/Configuration

      - TGTG_USERNAME=
      - SLEEP_TIME=
      - TZ=
      - LOCALE=
      - PORT=
      - TELEGRAM=true
      - TELEGRAM_TOKEN=
      - TELEGRAM_CHAT_IDS=

    volumes:
      - tokens:/tokens ## volume to save TGTG credentials to reuse on next start up and avoid login mail

    ports:
      - 8080:3000

volumes:
  tokens:
